{% extends '::frontend.html.twig' %}

{%block container %}
<div class="container page-content">
	<div class="grid">
		<div class="row cells3">
			<div class="cell"></div>
			<div class="cell">
				<h1>Login</h1>
					{% if error %}
					    <div class="panel alert collapsible" data-role="panel">
							<div class="heading">
								<span class="icon mif-cross"></span>
								<span class="title">{%trans%}Error{%endtrans%}</span>
							</div>
							<div class="content">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
						</div>
					{% endif %}
					<div>
						{% for flashMessage in app.session.flashbag.get('banned') %}

							<div class="panel alert collapsible collapsed" data-role="panel">
								<div class="heading">
									<span class="icon mif-cross"></span>
									<span class="title">{%trans%}Banned{%endtrans%}</span>
								</div>
								<div class="content">{{ flashMessage }}</div>
							</div>
						    

						{% endfor %}
						{% for flashMessage in app.session.flashbag.get('reg_success') %}

							<div class="panel success collapsible" data-role="panel">
								<div class="heading">
									<span class="icon mif-checkmark"></span>
									<span class="title">{%trans%}Account created{%endtrans%}</span>
								</div>
								<div class="content">{{ flashMessage }}</div>
							</div>
						    

						{% endfor %}
					</div>
					<form name="login" id="frm-login" method="post" action="{{path('mh4_login_check')}}">
						<label>{%trans %}Username{%endtrans %}</label>
						<div class="input-control text full-size" data-role="input">
							<input type="text" id="in-mh4username" name="_mh4username" value="{{last_username}}" >
							<button class="button helper-button clear">
								<span class="mif-cross"></span>
							</button>
						</div>

						<label>{%trans %}Password{%endtrans %}</label>
						<div class="input-control password full-size" data-role="input">
							<input type="password" id="in-mh4password" name="_mh4password">
							<button class="button helper-button reveal">
								<span class="mif-looks"></span>
							</button>
						</div>

						<button class="button rounded">{%trans %}Log in{%endtrans %}</button>

						<button type="button" id="login-btn" class="button rounded float-right">{%trans %}Register{%endtrans %}</button>
					</form>

			</div>
			<div class="cell"></div>
		</div>
	</div>
</div>
	
{%endblock %}

{%block javascripts%}
	{{ parent() }}
	<script type="text/javascript">
	$(function(){

		$("#login-btn")
		.on('click',function(){
			window.location.href="{{path('m4h_register_frontend')}}";
		});
	});
	
	</script>
{%endblock %}