{% extends '::base.html.twig' %}
{%block javascripts %}
	<script type="text/javascript" src="{{asset('bundles/design/js/jquery-2.1.1.js')}}"></script>
	<script type="text/javascript" src="{{asset('bundles/design/js/dust-full.js')}}"></script>
	<!--<script type="text/javascript" src="{{asset('bundles/design/js/jquery-ui-1.10.4.min.js')}}"></script>
	<script type="text/javascript" src="{{asset('bundles/design/js/jquery-ui.custom.min.js')}}"></script>-->
	<script type="text/javascript" src="{{asset('bundles/design/js/metro.js')}}"></script>
	<script src="{{ asset('bundles/design/js/mh4app.js') }}"></script>
	<script src="{{ asset('bundles/design/js/templates/general_tmp.js') }}"></script>
	<script src="{{ asset('bundles/design/js/dialogManager.js') }}"></script>
	<script src="{{ asset('bundles/design/js/paginationManager.js') }}"></script>
	<script src="{{ asset('bundles/design/js/fileManager.js') }}"></script>
	<script src="{{ asset('bundles/design/js/colpick.js') }}"></script>
	<script src="{{ asset('bundles/design/js/jquery-throttle-debounce.min.js') }}"></script>
	
	<script type="text/javascript">
		$(function(){
			//Always load templates
			{%if app.user%}
			mh4app.setLanguage('{{app.user.getLocale}}');
			{%endif%}
			mh4app.loadTemplate('general');

			$('#a-file').on('click', function(e) {
			    console.log('click');
			    $('#lab-file', $(this)).trigger('click');
			});

			$('#a-file #lab-file').on('click', function(e) {
			    e.stopPropagation();
			});

			//File Manager init
			var alertId = "alert_dialog_mh4-user-file";
			//console.log("OPTIONS",options);
			mh4app.dialogManager.addDialog(
				{
					id: alertId,
					template: 'size-error-alert',
					templateOptions: {
						alertMessage: "{%trans%}File size incorrect!{%endtrans%}",
					}
				}
			);
			mh4app.dialogManager.getDialog(alertId).init();
			mh4app.dialogManager.registerButtons(alertId);


			mh4app.fileManager.registerEvents({

				serverSide: true,
				uploadUrl: '{{path('mh4_file_upload')}}',
				onLoadFile: function(file){

					var size = file.getSize();
					if(size !== 81408){
						
						var a = mh4app.dialogManager.getDialog(alertId);
						a.openDialog();
					}else{
						file.sendToServer();
					}

				},
				onSendProgress: function(progressEvent){

					console.log(progressEvent.loaded,progressEvent.total);
					console.log((progressEvent.loaded*100/progressEvent.total)+"%")
				},
				onSendSuccess: function(data){
					console.log(data);
				},
				onSendError: function(xhr,errStatus,errThrown){

				}
			});
		});
	</script>
	

{%endblock%}

{% block stylesheets %}
	<link href="{{asset('bundles/design/css/metro.css')}}" rel="stylesheet" type="text/css"/>
	<link href="{{asset('bundles/design/css/metro-schemes.css')}}" rel="stylesheet" type="text/css"/>
	<!--<link href="{{asset('bundles/design/css/metro-icons.css')}}" rel="stylesheet" type="text/css"/>-->
	<link href="{{asset('bundles/design/css/metro-icons.css')}}" rel="stylesheet" type="text/css"/>
	<link href="{{asset('bundles/design/css/style.css')}}" rel="stylesheet" type="text/css"/>
	<link href="{{asset('bundles/design/css/colpick.css')}}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block body %}
	{% block header %}
		<div class="app-bar" data-role="appbar">

			<a class="app-bar-element" href="{{path('mh4_editor_homepage')}}">
				<img class="header-logo" src="{{asset('bundles/design/images/mh4-logo.png')}}">
			</a>

			{%block appBarMenu %}
				{%if app.user%}
					{%include '::appbar-menu.html.twig'%}
				{%endif%}
				
			{%endblock%}

			<div class="app-bar-element place-right">
				{%block userZone %}
					{%include '::userzone.html.twig' %}
				{%endblock%}
					
			</div>
			<div class="app-bar-pullbutton place-right automatic"></div>
		</div>
	{%endblock%}
	{% block container %}{% endblock %}
{% endblock %}