<div id="user-info" class="user-info">
	{%if app.user != null %}
		<span class="mif-user"></span>
		<a class="dropdown-toggle fg-white">{{app.user.username}}</a>
		<div class="app-bar-drop-container bg-white fg-black place-right " data-role="dropdown">
			<div id="user-info-details" class="padding20">
				<a href="{{path('mh4_logout_frontend')}}"><span class="icon mif-exit"></span> {%trans%}Logout{%endtrans%}</a>
				<hr>
				{%trans%}Items Quota{%endtrans%}:

				<div id="hint-item-quota" data-role="hint" data-hint-background="bg-blue" data-hint-color="fg-white" data-hint-mode="2" data-hint="Items Quota|{{itemQuota}}/{{maxItemQuota}}" data-hint-position="top">
					<div id="pb-item-quota" class="progress small" data-value="{{itemQuota*100/maxItemQuota}}" data-role="progressBar">
						<div class="bar default" style="width: {{itemQuota*100/maxItemQuota}}%;"></div>
					</div>
				</div>
				{%trans%}Talismans Quota{%endtrans%}:
				<div id="hint-talisman-quota" data-role="hint" data-hint-background="bg-blue" data-hint-color="fg-white" data-hint-mode="2" data-hint="Talismans Quota|{{talismanQuota}}/{{maxTalismanQuota}}" data-hint-position="top">
					<div id="pb-talisman-quota" class="progress small" data-value="{{talismanQuota*100/maxTalismanQuota}}%" data-role="progressBar">
						<div class="bar default" style="width: {{talismanQuota*100/maxTalismanQuota}}%;" ></div>
					</div>
				</div>
				<hr>
				{%trans%}Hunter name{%endtrans%}: <span id="user-hunter-name">{{hunterName | default("__HunteName__")}}</span><br>
				{%trans%}HR{%endtrans%}: <span id="user-hr">{{ hunterRank | default(0)}}</span><br>
				Zenies: <span id="user-zenies">{{ zenies | default(0)}}</span><br>
				{%trans%}Caravan Points{%endtrans%}: <span id="user-caravan-points">{{ caravanPoints | default(0)}}</span><br>
				{%trans%}Gender{%endtrans%}: <span id="user-gender">{{ sex | default('M')}}</span><br>
				<hr>
				{%trans%}Feat. Color{%endtrans%}: <div id="featuresColor" class="color-box"></div><br>
				{%trans%}Hair Color{%endtrans%}: <div id="hairColor" class="color-box"></div><br>
				{%trans%}Cloth Color{%endtrans%}: <div id="clothColor" class="color-box"></div><br>
				{%trans%}Skin Color{%endtrans%}: <div id="skinColor" class="color-box"></div><br>
			</div>
		</div>
	{%endif%}
</div>