{%extends 'DesignBundle:Register:base_form.html.twig' %}
{%block formStyleName%}register-form{%endblock%}
{%block formName %}{%trans%}Register form{%endtrans%}{%endblock %}
{%block form %}
	{{form_start(form , {'attr': {
		'id' : 'register_form',
		'data-role' : 'validator',
		'data-on-before-submit' : 'no_submit',
		'novalidate' : 'novalidate',
		'enctype' : form_enctype(form)
	} } )}}
	{{ form_label(form.user.username) }}
	<div class="input-control text full-size" data-role="input">
		{{ form_widget(form.user.username) }}
		<button class="button helper-button clear">
			<span class="mif-cross"></span>
		</button>
	</div>

	{{ form_label(form.user.email) }}
	<div class="input-control text full-size" data-role="input">
		{{ form_widget(form.user.email) }}
		<button class="button helper-button clear">
			<span class="mif-cross"></span>
		</button>
	</div>

	{{ form_label(form.user.password.first) }}
	<div class="input-control password full-size" data-role="input">
		{{ form_widget(form.user.password.first) }}
		<button class="button helper-button reveal">
			<span class="mif-looks"></span>
		</button>
	</div>

	{{ form_label(form.user.password.second) }}
	<div class="input-control password full-size" data-role="input">
		{{ form_widget(form.user.password.second) }}
		<button class="button helper-button reveal">
			<span class="mif-looks"></span>
		</button>
	</div>

	{{ form_label(form.user.mh4File) }}
	<div class="input-control file full-size" data-role="input">
		{{ form_widget(form.user.mh4File) }}
		<button class="button">
			<span class="mif-folder"></span>
		</button>
	</div>
	
	{{form_end(form)}}
	<button id="register-btn" class="button rounded">{%trans%}Register{%endtrans%}</button>
	<div id="reg-loader" class="emerald-style fix-pos" style="display:inline-block" data-role="preloader" data-type="ring"></div>
	
{%endblock %}

{%block javascripts%}
	{{ parent() }}
	<script type="text/javascript">
	$(function(){
		function no_submit(){
			return false;
		}
		$("div.register-form")
		.removeClass('hidden')
		.addClass('show');

		$("#register-btn")
		.on("click",function(e){
			console.log(e);

			var data = new FormData($('#register_form'));
			$("#register_form div > input, #register_form > input").each(function(i,elem){

				if(!$(elem).is("input[type=file]"))
					data.append(elem.name,elem.value);
				else{
					if(elem.files.length>0)
						data.append(elem.name,elem.files[0],elem.files[0].name);
				}
				console.log(elem);
				if($(elem).parent("div").hasClass("error")){
					$(elem).parent("div").removeClass("error");
				}
			});

			console.log(data);

			$("div#reg-loader").addClass("show");

			$.ajax({

				url: 'register/done',
				dataType: "json",
				method: "POST",
				data: data,
				contentType : false,
				processData : false

			})
			.done(function(data,status,xhr){
				$("div#reg-loader").removeClass("show");
				console.log("DATA:",data);

				if(!data.status){

					var user = data.formErrorObject.user;
					for(error in user){

						if(error == "password"){
							if(user[error].first.length>0){
								$.Notify({
									caption: "Confirm Password",
									content: user[error].first.join("<br><br>"),
									type: "alert",
									timeout : 4000,
									icon :'<span class="mif-warning"></span>'
								});

								$("input[id$='"+error+"_first']").parent("div").addClass("error");
								$("input[id$='"+error+"_second']").parent("div").addClass("error");
							}
						}else if(user[error].length>0){

							$.Notify({
								caption: error,
								content: user[error].join("<br>"),
								type: "alert",
								timeout : 4000,
								icon :'<span class="mif-warning"></span>'
							});

							$("input[id$='"+error+"']").parent("div").addClass("error");

						}
					}


				}else{
					window.location.href="{{path('mh4_login_frontend')}}";
				}
				

			})
			.error(function(data,error,xhr){
				$("div#reg-loader").removeClass("show");
				console.log(data);
				//If data not in JSON, it means the controller is returning the templae with form errors
				if(error == "parsererror"){

					$("div.cell.register-form").html("SERVER ERROR: NOT JSON");

				}

			});


		});

	});
	</script>
{%endblock %}