{% extends '::base.html.twig' %}
{%block javascripts %}
	<script type="text/javascript" src="{{asset('bundles/design/js/jquery-2.1.1.js')}}"></script>
	<script type="text/javascript" src="{{asset('bundles/design/js/jquery-ui-1.10.4.min.js')}}"></script>
	<script type="text/javascript" src="{{asset('bundles/design/js/jquery-ui.custom.min.js')}}"></script>
	<script type="text/javascript" src="{{asset('bundles/design/js/metro.min.js')}}"></script>
{%endblock%}

{% block stylesheets %}
	<link href="{{asset('bundles/design/css/metro-icons.min.css')}}" rel="stylesheet" type="text/css"/>
	<link href="{{asset('bundles/design/css/metro.min.css')}}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block body %}
	<h1 id="h">Holaa</h1>
	<script type="text/javascript">
		$("#h").html("ADIOS");
	</script>
{% endblock %}
